body {
    font-family: "Esteban", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.About {
    padding-top: 20px;
}

h1 {
    padding-top: 20px;
    font-size: 40px;
}

.Seperates {
    width: 60%;
    margin-top: 20px;
}

div {
    width: 50%;
    font-size: 20px;
    margin: 0 auto;
}

hr {
    width: 20%;
}

ul {
    list-style-type: none;
}